<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1><%= @cat.name %></h1>
    <table>
      <tr>
        <td>Birth date: </td>
        <td><%= @cat.birth_date %></td>
      </tr>
      <tr>
        <td>Age: </td>
        <td><%= @cat.age %></td>
      </tr>
      <tr>
        <td>Color: </td>
        <td><%= @cat.color %></td>
      </tr>
      <tr>
        <td>Sex: </td>
        <td><%= @cat.sex %></td>
      </tr>
      <tr>
        <td>Description: </td>
        <td><%= @cat.description %></td>
      </tr>
    </table>

    <h3>Existing Rental Requests</h3>
    <table>
      <tr>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Status</th>
      </tr>
      <% @rentals.each do |rental| %>
        <tr>
          <td><%= rental.start_date %></td>
          <td><%= rental.end_date %></td>
          <td><%= rental.status %></td>
          <% if rental.pending? %>
          <td><%= button_to 'APPROVE', approve_cat_rental_request_url(rental), method: :post%></td>
          <td><%= button_to 'DENY', deny_cat_rental_request_url(rental), method: :post%></td>
          <% end %>
        </tr>
      <% end %>
    </table>

    <%= button_to 'Edit the cat', edit_cat_url(@cat), method: :get %>
  </body>
</html>
